<%- include('../partials/header') %> 
<title>Close Contacts</title>
<style>
    .control{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .all_logs{
        display: none;
    }
    .crt{
        display: none;
    }
    .targetz{
        background-color: rgb(13, 110, 253);
    }
    .test{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .hidden-change{
        visibility: hidden;
    }
    .invalid-code{
        display: none;
    }
    .test2{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .user-name{
        text-decoration: none;
    }
    table.dataTable thead>tr>th.sorting_asc,
    table.dataTable thead>tr>th.sorting_desc,
    table.dataTable thead>tr>th.sorting,
    table.dataTable thead>tr>td.sorting_asc,
    table.dataTable thead>tr>td.sorting_desc,
    table.dataTable thead>tr>td.sorting {
        padding-right: 8px;
    }
    
    th.sorting_asc::after,
    th.sorting_desc::after {
    content:"" !important;
    }
    .dataTable > thead > tr > th[class*=sort]:after{ display:none; }
    @media (max-width: 376px){
        tr{
            font-size: 10px;
        }
    }
</style>
<link rel="stylesheet" href="/styles.css">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">CCT |</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/establishments-account-settings">Account Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/logoutE">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark targetz" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Main</div>
                        <a class="nav-link" href="/establishments-logs/<%= user._id %> ">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Functionalities</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Customer Logs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/establishments-dashboard">Todays Logs</a>
                                <a class="nav-link" href="/establishments-logs/<%=user._id%> ">All Logs</a>
                                
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutz" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera"></i></i></div>
                            Scan QR Code
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutz" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav cameras_but">
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayout3" aria-expanded="false" aria-controls="collapseLayout1">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                             Map
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayout3" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/establishments-map-location">My Map</a>
                                
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer py-2">
                    <div class="small">Logged in as:</div>
                    <img src="/images/test.png" alt="" class="test2">
                    <%= user.businessname %>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Contact Tracer Code</h5>
                          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body">
                            
                          <form action="#">
                              <p class="text-danger invalid-code">Invalid Code!</p>
                              <label for="code" class="form-label">Enter a 4-digit Code</label>
                              <input type="password" name="code" id="code" class="form-control" placeholder="Code" required maxlength="4">
                              <hr>
                              <button type="button" class="btn btn-primary" id="codebutton">Submit</button>
                              <button type="button" class="btn btn-danger" id="second" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-success" id="hidden-but" data-bs-dismiss="modal" style="display: none;">Hidden</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="container-fluid px-4">
                    <div class="card mt-5">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Close Contacts 
                        </div>
                        <div class="card-body">
                            <table class="table table-light table-striped table-hover" id="example" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time in</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time in</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% if (temp  && arr) { %>
                                        <% for( let index = 0; index < temp.length; index++ ) { %>
                                                <!-- put condition here to check if theyre logged on the current date -->
                                                <tr>
                                                    <td class="current_logs"> <b><%= index+1 %></b> </td>
                                                    <td class="current_logs"><img class="control" src="<%=arr[index].image%>" alt=""></td>
                                                    <td class="current_logs"><a href="/establishments-user-profile/<%= arr[index]._id%>/<%=moment(temp[index].date).format('LL') %>" class="user-name"><%= arr[index].firstName %> <%= arr[index].lastName %></a></td>
                                                    <td class="current_logs"><%= moment().diff(new Date(arr[index].birthDate).toISOString(),'years') %> </td>
                                                    <% if (arr[index].status === 'Negative') { %>
                                                        <td class="current_logs text-success"><%=arr[index].status %></td>
                                                    <% } else if(arr[index].status === 'Positive') { %>
                                                        <td class="current_logs text-danger"><%=arr[index].status %></td>
                                                    <% } else if(arr[index].status === 'Close Contact') {%>
                                                        <td class="current_logs text-warning"><%=arr[index].status %></td>
                                                    <% } %>
                                                    <td class="current_logs"><%= temp[index].date %></td>
                                                    <td class="current_logs"><%= temp[index].time %> </td>
                                                </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                            <% if (temp.length!==0 && arr.length !==0) { %>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="change">Change Status</button>
                                <button class="btn btn-warning" onclick="ExportToExcel('xlsx')">Convert to excel</button>
                                <a href="/establishments-change-status-close-contacts/<%=moment(temp[0].date).format('LL')%>/<%=id %>" class="btn btn-primary hidden-change">Change Status</a>
                                <a href="/establishments-send-notification-close-contacts/<%=moment(temp[0].date).format('LL')%>/<%=id%>" class="btn btn-dark hidden-change">Send Notifications</a>
                                <button class="btn btn-success hidden-change">Cancel</button>
                            <% } else {%>
                                <a href="/establishments-user-profile/<%=id%>/<%=moment(new Date()).format('LL')%>" class="btn btn-warning">Back</a>
                            <% } %>
                           
                            
                        </div>
                    </div>
                    
                </div>
                
            </main>
            <footer class="py-4 bg-light mt-3">
               
            </footer>
        </div>
    </div>

    <%- include('../partials/scripts') %> 
    <script>
        const codes = ['ABCD','EFGH','JKLM']
        const codebutton = document.querySelector('#codebutton')
        const error = document.querySelector('.invalid-code')
        const hidden = document.querySelector('#hidden-but')
        const change = document.querySelector('#change')
        const unhide = document.querySelectorAll('.hidden-change')
        codebutton.addEventListener('click',(e)=>{
        // e.preventDefault()
        // alert("HELLO")
        
        for(let i=0; i<codes.length; i++){
            if(code.value===codes[i]){
                // alert("YEY")
                for(let x=0; x<3; x++){
                    unhide[x].classList.remove('hidden-change')
                    change.style.display = 'none'
                    console.log('nisud')
                }
                hidden.click()
                break
            }
            else{
                error.classList.remove('invalid-code')
                setInterval(()=>{
                    error.classList.add('invalid-code')
                },3000)
                break
            }
        }
        })
        unhide[2].addEventListener('click',()=>{
            for(let i=0; i<3; i++){
                unhide[i].classList.add('hidden-change')
                change.style.display = 'inline-block'
            }
        })
    </script>
</body>

</html>