<%- include('../partials/header') %> 
<title>Daily Logs</title>
<style>
    .control{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .all_logs{
        display: none;
    }
    .crt{
        display: none;
    }
    .dataTable > thead > tr > th[class*=sort]:after{ display:none; }
    .targetz{
        background-color: rgb(13, 110, 253);
    }
    .test{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .test2{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before {
        display: none;
    }
    @media (max-width: 376px){
        body{
            background-color: pink;
        }
        tr{
            font-size: 10px;
        }
    }
</style>
<link rel="stylesheet" href="/styles.css">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">CCT |</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!"><img src="/images/test.png" alt="" class="test">   Account Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/logoutE">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark targetz" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Main</div>
                        <a class="nav-link" href="/establishments-logs/<%= user._id %> ">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Functionalities</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Customer Logs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">Todays Logs</a>
                                <a class="nav-link" href="/establishments-logs/<%= user._id %> ">All Logs</a>
                                
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutz" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Scan QR Code
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutz" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav cameras_but">
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer py-2">
                    <div class="small">Logged in as:</div>
                    <img src="/images/test.png" alt="" class="test2">
                    <%= user.contactPerson %>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="card mt-5">
                        <div class="card-header current_day">
                            <i class="fas fa-table me-1"></i>
                            <!-- Daily Logs -->Daily logs for
                            <%= day %> 
                            
                        </div>
                        <div class="card-body">
                            <table class="table table-light table-striped table-hover" id="example" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time in</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"></th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time in</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% if (data && arr) { %>
                                        <% for( let index = 0; index < data.logs.length; index++ ) { %>
                                                <% if (data.logs[index].date === currentDate) { %>
                                                    <tr>
                                                        <td class="current_logs"> <b><%= index+1 %></b> </td>
                                                        <td class="current_logs"><img class="control" src="<%=arr[index].image%>" alt=""></td>
                                                        <td class="current_logs"><%= arr[index].firstName %> <%= arr[index].lastName %></td>
                                                        <td class="current_logs"><%= moment().diff(arr[index].birthDate,'years') %> </td>
                                                        <td class="current_logs">Not Infected</td>
                                                        <td class="current_logs"><%= data.logs[index].date %></td>
                                                        <td class="current_logs"><%= data.logs[index].time %> </td>
                                                    </tr>
                                                <% } %>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                            <a href="/establishments-dashboard" class="btn btn-primary">Go Back</a>
                            <button class="btn btn-warning" onclick="ExportToExcel('xlsx')">Convert to excel</button>
                        </div>
                    </div>
                    
                </div>

            </main>
            <footer class="py-4 bg-light mt-3">
               
            </footer>
        </div>
    </div>

    <%- include('../partials/scripts') %> 
    

</script>
</body>
</html>


