    <%- include('../partials/header') %> 
    <title>Document</title>
</head>
<body>
    <% if (data) { %>
        <ul>
            <% for( let index = 0; index < data.logs.length; index++ ) { %>
                <% if (data.logs[index].date === currentDate) { %>
                    <li><%= data.logs[index].name%>  - <%= data.logs[index].date%> - <%= data.logs[index].time%>  </li>
                <% } %>
                
            <% } %>
        </ul>
     
    <% } %>
    <p><%= currentDate %> </p>
</body>
</html>