<%- include('../partials/header') %> 

<title>Scanning QR</title>
<style>
    .cont{
        display: flex;
        align-items: center;
    }
    /* .testz{
            width: 600px;
            height: 500px;
    } */  
    
    #preview{
        position: relative;
        min-width: 100%;
        max-height: inherit;
        width: 100%;
        /* height: 400px; */
        /* background-color: coral; */
        margin: 0 auto;
    }
    
    /* .v{
        height: 98vh;
    } */
    .image-container{
        max-width: inherit;
        max-height: inherit;
        width: 100%;
        height: 350px;
        border: 1px solid black;
    }
    .u-pic{
        width: 100%;
        max-height: inherit;
        height: 100%;
    }
    .u-info{
        height: 100%;
        align-self: center;
        /* margin: 0 auto; */
     }
    .test{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    .test2{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    
    @media (max-width: 570px){
        .cont{
            width:450px;
            
            
        }
        #preview{
            width: 250px;
        }
    }

    @media (max-width: 500px){
        .cont{
            width:300px;
        }
        .u-info{
            height:400px;
        }
        /* #c{
            height: 300px;
        }    */
        #preview{
            width: 200px;
        }
        .image-container{
            height: 150px;
        }
    }
</style>
<link rel="stylesheet" href="/styles.css">
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#">CCT |</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!"><img src="/images/test.png" alt="" class="test">   Account Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/logoutE">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark targetz" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Main</div>
                        <a class="nav-link" href="/establishments-logs/<%= user._id %> ">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Functionalities</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Customer Logs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link text-primary" href="/establishments-dashboard">Todays Logs</a>
                                <a class="nav-link text-primary" href="/establishments-logs/<%= user._id %> ">All Logs</a>
                                
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutz" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-camera"></i></div>
                            Scan QR Code
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayoutz" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav cameras_but">
                                
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer py-2">
                    <div class="small">Logged in as:</div>
                    <img src="/images/test.png" alt="" class="test2">
                    <%= user.businessname %>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div style="display:none;" class="cam_num"><%=cam_num %></div>
            <main>
                <div class="container-fluid px-5">
                    <div class="row cont">
                        <div class="col-md-8 mt-5">
                            <div class="card bg-dark" id="c">
                                <div class="card-header text-white">
                                   <i class="fas fa-camera me-1"></i>
                                   <span>Scanning QR Code</span> 
                                </div>
                                <div class="card-body bg-light">
                                    <video id="preview" class="vidz"></video>
                                    <label for=""></label>
                                    <label id="qrt" class="form-label text-dark" for="qrText">Users Unique ID</label>
                                    <form action="/give-qr/<%=cam_num%> " method="POST" id="uniqueid">
                                        <input type="text" name="qrText" id="qrText" class="form-control" readonly required>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5">
                            <div class="card bg-dark u-info">
                                <div class="card-header text-white">
                                   <i class="fas fa-table me-1"></i>
                                   <span>User Details</span> 
                                </div>
                                <div class="card-body bg-light">
                                    <% if (messages.success) { %>
                                        <h2 class="text-center display-5" style="text-transform: uppercase;">Welcome!</h2>
                                    <% } else if(messages.error) { %>
                                        <h2 class="text-center display-5 text-danger" style="text-transform: uppercase;">User does not exist!</h2>
                                    <% } else { %>
                                        <!-- <h2 class="text-center display-5" style="text-transform: uppercase;">Else</h2> -->
                                    <% } %>
                                    <div class="image-container">
                                        <% if (messages.info) { %>
                                            <img src="<%= messages.info %>" alt="" class="u-pic"> 
                                        <% } else if(messages.error) { %>
                                            <img src="/images/nope.jpg" alt="" class="u-pic"> 
                                        <% } else { %>
                                            <img src="/images/none.png" alt="" class="u-pic"> 
                                        <%  } %>
                                        
                                    </div>
                                    <form action="#" class="mt-2">
                                        <div class="row">
                                            <div class="col-md-6 mt-2">
                                                <% if (messages.success) { %>
                                                    <input value="<%=userDets.firstName%> <%=userDets .lastName%>" type="text" name="fullName" id="fullName" class="form-control" required readonly placeholder="Name">
                                                <% } else { %>
                                                    <input type="text" name="fullName" id="fullName" class="form-control" required readonly placeholder="Name">
                                                <% } %>
                                               
                                            </div>
                                            <div class="col-md-4 mt-2">
                                                <% if (messages.success) { %>
                                                    <input value="<%=userDets.gender%>" type="text" name="gender" id="gender" class="form-control" placeholder="gender" required readonly>
                                                <% } else { %>
                                                    <input type="text" name="gender" id="gender" class="form-control" placeholder="Gender" required readonly>
                                                <% } %>
                                                
                                            </div>
                                            <div class="col-md-2 mt-2">
                                                <% if (messages.success) { %>
                                                    <input value="<%=age%> " type="text" name="age" id="age" class="form-control" placeholder="Age" required readonly>
                                                <% } else { %>
                                                    <input type="text" name="age" id="age" class="form-control" placeholder="Age" required readonly>
                                                <% } %>
                                               
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-5" style="background-color: red;">
                        <div class="col-md-6" style="background-color: pink;">
                                1
                        </div>
                        <div class="col-md-6" style="background-color: aqua;">
                            2
                        </div>
                    </div> -->
                    
                    <!-- <% if (messages.success) { %>
                    <h1 class="text-center text-primary dis"><%= messages.success %> </h1>
                    <% } %>
                    <% if (messages.error) { %>
                    <h1 class="text-danger text-center dis"><%= messages.error %> </h1>
                    <% } %>
                    <div class="container bg-primary cont mt-5 d-flex flex-column">
                        <p class="text-center lead">Align your QR Code infront of the scanner</p>
                        <video id="preview"></video>
                        <label id="qrt" class="form-label text-warning" for="qrText">Users Unique ID</label>
                        <form action="/give-qr/<%=cam_num%> " method="POST" id="uniqueid">
                            <input type="text" name="qrText" id="qrText" class="form-control" readonly required>
                        </form>
                    </div>
                    <div class="d-flex mx-auto tik">
                            
                    </div>
                    <div class="container bg-danger testz mt-5">
                        <p class="text-center lead">TO-DO PANI DIRI PERO ESSENTIALLY MUGAWAS ANG PICTURE(IF NAA) AND DETAILS SA USER IF MA SCAN SILA </p>
                        <% if (messages.info) { %>
                            <img src="<%= messages.info %>" alt="" class="yawa"> 
                        <% } %>
                    </div> -->
                </div>
                
            </main>
            <footer class="py-4 bg-light mt-3">
                <!-- <%- include('../partials/footer') %> -->
            </footer>
        </div>
    </div>
    
    
   

<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="/scripts/getcamera.js"></script>
<script src="https://kit.fontawesome.com/2d845355d1.js" crossorigin="anonymous"></script>
<script src="/scripts/sidebartrigger.js"></script>
<script src="/scripts/getcamlength.js"></script>
</body>
</html>