<%- include('../partials/header') %> 
<title>Notifications</title>
<style>
    .imagez{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
    }
    .left-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .notify{
            border-bottom: 1px solid gainsboro;
    }
    .account-settings{
      border-bottom: 1px solid gainsboro;
    }
    .m-content{
        margin-top: 10vh;
    }
    #take-control{
      justify-content: center;
    }
    #noti-message{
      margin: 0;
      padding: 0;
    }
    .pagination li {
      display:inline-block;
      padding:5px;
    }
    @media (max-width: 767px) {
        .m-content{
            margin-top: 0;
        }
      
      }
</style>
<link rel="stylesheet" href="/css/usersidebar.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
 <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
 <!-- Google Fonts Roboto -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
 <!-- MDB -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <!-- Collapse 1 -->
          <a class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            data-mdb-toggle="collapse"
            href="#collapseExample1"
            aria-expanded="true"
            aria-controls="collapseExample1">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <!-- Collapsed content -->
          <ul id="collapseExample1" class="collapse show list-group list-group-flush">
            <li class="list-group-item py-1">
              <a href="/client-dashboard" class="text-reset">User Logs</a>
            </li>
          </ul>
          <!-- Collapse 1 -->
  
          <!-- Collapse 2 -->
          <a
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            data-mdb-toggle="collapse"
            href="#collapseExample2"
            aria-expanded="true"
            aria-controls="collapseExample2">
            
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Profile Settings</span>
          </a>
          <!-- Collapsed content -->
          <ul id="collapseExample2" class="collapse list-group list-group-flush">
            <li class="list-group-item py-2">
              <a href="/client-profile" class="text-reset">View Profile</a>
            </li>
            <li class="list-group-item py-2">
                <a href="#" class="text-reset">Edit Profile</a>
            </li>
            <li class="list-group-item py-2">
                <a href="/client-new-qr-code" class="text-reset">My QR Code</a>
            </li>
            
          </ul>
          <!-- Collapse 2 -->
        </div>
        
      </div>
     
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            CTT |
          <!-- <img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
            height="25"
            alt=""
            loading="lazy"
          /> -->
        </a>
      
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell fa-2x"></i>
              <% if (user.notification.length!==0) { %>
                <% let badge=0%> 
                <% for( let index = 0; index < user.notification.length; index++ ) { %>
                    <% if (!user.notification[index].isSeen) { %>
                        <% badge++ %> 
                    <% } %>
                <% } %>
                <% if (badge===0) { %>
                  <span class="badge rounded-pill badge-notification bg-danger"></span>
                <% } else { %>
                <span class="badge rounded-pill badge-notification bg-danger"><%= badge %> </span>
                <% } %>
              <% } %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <% if (user.notification.length!==0) { %>
                <% let badge=0%> 
                <% for( let index = user.notification.length-1; index >=0; index-- ) { %>
                    <% if (!user.notification[index].isSeen) { %>
                      <% badge++ %> 
                      <li class="notify"><a href="/client/single-notification/<%=user.notification[index]._id%>" class="dropdown-item">Notification from: <%= user.notification[index].header %></a>
                      </li>
                  <% } %>
                 
                <% } %>
                <% if (badge===0) { %>
                  <li><a class="dropdown-item">You dont have any notifications</a></li>
                <% } %>
              <% } else { %>
                      <li><a class="dropdown-item">You dont have any notifications</a></li>
              <% } %>
             
              <li><a href="/client/notifications/<%=user.notification.length%>" class="dropdown-item text-center notify text-primary">View All</a></li>
            <!-- <li><a class="dropdown-item" href="#">To do pani diri</a></li>
            <li><a class="dropdown-item" href="#">To do pani diri</a></li>
            <li>
              <a class="dropdown-item" href="#">Topi ngano bakat imoha</a>
            </li> -->
          </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="<%=user.image%>"
                class="rounded-circle"
                height="30"
                width="30"
                alt=""
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li class="account-settings"><a class="dropdown-item" href="#"><%=user.firstName%> <%=user.lastName%> </a></li>
              <li class="account-settings"><a class="dropdown-item" href="/client-profile">My profile</a></li>
              <li class="account-settings"><a class="dropdown-item" href="/logoutU">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
   
    </nav>

  </header>
  <main style="margin-top: 58px;">
    <ol class="breadcrumb pt-4 px-3">
        <li class="breadcrumb-item"><a href="/client-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Profile Settings</a></li>
        <li class="breadcrumb-item"><a href="/client-profile">User Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
   
    <hr style="margin-top: 5px;">
   
    
    <div class="container pt-4 m-content">
      <div class="card mt-2">
        <div class="card-header bg-dark text-light">
          <i class="fas fa-envelope"></i> User Notifications
        </div>
        <div class="card-body">
          <div id="test-list">
            <ul class="list" id="noti-message">
              <% if (user.notification.length ===0) { %>
                <li class="list-group-item text-danger text-center">You have no notifications!</li>
                <% } %>
              <% for( let index = user.notification.length-1; index >= 0; index--) { %>
                <li class="notification name list-group-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <p class="lead">From: <a href="#"><%=user.notification[index].header%></a></p>
                      </div>
                      <div class="col-md-4">
                        <p class="lead">Date: <%= user.notification[index].date %> </p>
                      </div>
                      <div class="col-md-4">
                        <p class="lead">Time: <%= user.notification[index].time %> </p>
                      </div>
                      <div class="col-md-12">
                        <p class="lead" style="text-align: justify;
                        text-justify: inter-word;"><%= user.notification[index].message %> </p>
                      </div>
                    </div>
                    <a href="/client-delete-notification/<%=user.notification[index]._id%>/<%=user.notification.length%>" class="fas fa-trash-alt text-danger"></a>
                  </div>
                </li>
            <% } %>
            </ul>
            <p class="form-text mt-5 text-center">Pages</p>
            <ul class="pagination" id="take-control">
              
            </ul>
          </div>
        </div>
        <!-- <div class="card-body">
          <div class="test-list">
            <ul class="list">
              <% if (user.notification.length ===0) { %>
              <li class="list-group-item text-danger text-center">You have no notifications!</li>
              <% } %>
            <% for( let index = user.notification.length-1; index >= 0; index--) { %>
                <li class="notification">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <p class="lead">From: <a href="#"><%=user.notification[index].header%></a></p>
                      </div>
                      <div class="col-md-4">
                        <p class="lead">Date: <%= user.notification[index].date %> </p>
                      </div>
                      <div class="col-md-4">
                        <p class="lead">Time: <%= user.notification[index].time %> </p>
                      </div>
                      <div class="col-md-12">
                        <p class="lead" style="text-align: justify;
                        text-justify: inter-word;">Message: <%= user.notification[index].message %> </p>
                      </div>
                      
                      
                    </div>
                    <a href="#" class="fas fa-trash-alt text-danger"></a>
                  </div>
                  
                </li>
            <% } %>
            </ul>
          </div>
          <ul class="pagination"></ul>
          <hr>
          <button class="btn btn-danger">Clear Notifications</button>
        </div> -->
      </div>
    </div>
  
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    var monkeyList = new List('test-list', {
    valueNames: ['notification'],
    page: 3,
    pagination: true
    });
</script>


</body>
</html>