    <%- include('../partials/header') %> 
    <title>User Dashboard</title>
    <style>
        .test{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: red;
            max-width: 500px;
            min-height: 500px;
            width: 100%;
            height: 100%;
        }
        .notify{
            border-bottom: 1px solid gainsboro;
        }
        #map {
            height: 300px; 
            width: inherit;
        }
        .account-settings{
            border-bottom: 1px solid gainsboro;
        }
        #modal-target{
            max-width: 800px;

        }
        .geo{
            background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            
            /*input has OS specific font-family*/
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        div.dataTables_wrapper {
                width: inherit;
                margin: 0 auto;
            }
        @media (max-width:452px) {
            td{
                font-size: 11px;
            }
            th{
                font-size: 11px;
            }
            .main-content{
                padding: 0;
            }
}
    </style>
    <link rel="stylesheet" href="/css/usersidebar.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
     <!-- Google Fonts Roboto -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
     <!-- MDB -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@3.0.3/dist/esri-leaflet.js"
integrity="sha512-kuYkbOFCV/SsxrpmaCRMEFmqU08n6vc+TfAVlIKjR1BPVgt75pmtU9nbQll+4M9PN2tmZSAgD1kGUCKL88CscA=="
crossorigin=""></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.css"
integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@3.1.1/dist/esri-leaflet-geocoder.js"
integrity="sha512-enHceDibjfw6LYtgWU03hke20nVTm+X5CRi9ity06lGQNtC9GkBNl/6LoER6XzSudGiXy++avi1EbIg9Ip4L1w=="
crossorigin=""></script>
</head>
<body>
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <!-- Collapse 1 -->
              <a class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true"
                data-mdb-toggle="collapse"
                href="#collapseExample1"
                aria-expanded="true"
                aria-controls="collapseExample1">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
              </a>
              <!-- Collapsed content -->
              <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                <li class="list-group-item py-1">
                  <a href="/client-dashboard" class="text-reset">User Logs</a>
                </li>
              </ul>
              <!-- Collapse 1 -->
      
              <!-- Collapse 2 -->
              <a
                class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true"
                data-mdb-toggle="collapse"
                href="#collapseExample2"
                aria-expanded="true"
                aria-controls="collapseExample2">
                
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Profile Settings</span>
              </a>
              <!-- Collapsed content -->
              <ul id="collapseExample2" class="collapse list-group list-group-flush">
                <li class="list-group-item py-2">
                    <a href="/client-profile" class="text-reset">View Profile</a>
                </li>
                <li class="list-group-item py-2">
                    <a href="/client-profile/edit" class="text-reset">Edit Profile</a>
                </li>
                <li class="list-group-item py-2">
                    <a href="/client-new-qr-code" class="text-reset">My QR Code</a>
                </li>
                
              </ul>
              <!-- Collapse 2 -->
            </div>
            
          </div>
         
        </nav>
        <!-- Sidebar -->
      
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <!-- Container wrapper -->
          <div class="container-fluid">
            <!-- Toggle button -->
            <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-bars"></i>
            </button>
      
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                CTT |
              <!-- <img
                src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
                height="25"
                alt=""
                loading="lazy"
              /> -->
            </a>
          
            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
              <!-- Notification dropdown -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-2x"></i>
                  <% if (user.notification.length!==0) { %>
                    <% let badge=0%> 
                    <% for( let index = 0; index < user.notification.length; index++ ) { %>
                        <% if (!user.notification[index].isSeen) { %>
                            <% badge++ %> 
                        <% } %>
                    <% } %>
                    <% if (badge===0) { %>
                        <span class="badge rounded-pill badge-notification bg-danger"></span>
                      <% } else { %>
                      <span class="badge rounded-pill badge-notification bg-danger"><%= badge %> </span>
                      <% } %>
                  <% } %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <% if (user.notification.length!==0) { %>
                      <% let badge=0%> 
                      <% for( let index = user.notification.length-1; index >=0; index-- ) { %>
                          <% if (!user.notification[index].isSeen) { %>
                            <% badge++ %> 
                            <li class="notify"><a href="/client/single-notification/<%=user.notification[index]._id%>" class="dropdown-item">Notification from: <%= user.notification[index].header %></a>
                        <% } %>
                       
                      <% } %>
                      <% if (badge===0) { %>
                        <li><a class="dropdown-item">You dont have any notifications</a></li>
                      <% } %>
                    <% } else { %>
                            <li><a class="dropdown-item">You dont have any notifications</a></li>
                    <% } %>
                   
                    <li><a href="/client/notifications/<%=user.notification.length%>" class="dropdown-item text-center notify text-primary">View All</a></li>
                  <!-- <li><a class="dropdown-item" href="#">To do pani diri</a></li>
                  <li><a class="dropdown-item" href="#">To do pani diri</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Topi ngano bakat imoha</a>
                  </li> -->
                </ul>
              </li>
              <!-- Icon -->
              <!-- <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </li> -->
              <!-- Avatar -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="<%=user.image%>"
                    class="rounded-circle"
                    height="30"
                    width="30"
                    alt=""
                    loading="lazy"
                  />
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li class="account-settings"><a class="dropdown-item" href="#"><%=user.firstName%> <%=user.lastName%> </a></li>
                  <li class="account-settings"><a class="dropdown-item" href="/client-map-location">My Location</a></li>
                  <li class="account-settings"><a class="dropdown-item" href="/client-profile">My profile</a></li>
                  <li class="account-settings"><a class="dropdown-item" href="/logoutU">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
      </header>
      <main style="margin-top: 58px;">
        <ol class="breadcrumb pt-4 px-3">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Logs</li>
          </ol>
        <hr style="margin-top: 5px;">
        <!-- MODAL -->
        <!-- Button trigger modal -->
        <button type="button" id="trigger-modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="display: none;">
            Trigger Modal
        </button>
  
  <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" id="modal-target">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Establishment Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <!-- MODAL -->
        <p style="display: none;" class="api_key"><%=map_api_key%> </p>
        <div class="container pt-4">
          <div class="card mt-2">
            <div class="card-header bg-dark text-white">
              User Logs
            </div>
            <div class="card-body">
                <table class="table table-striped table-dark table-hover table-data" id="example">
                    <thead>
                        <tr>
                            <th>Establishment Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for( let index = 0; index < data.userlog.length; index++ ) { %>
                                
                                <tr>
                                    <td><%=data.userlog[index].establishment_name%></td>
                                    <td><%=data.userlog[index].date%></td>
                                    <td><%=data.userlog[index].time%> </td>
                                    <% if (data.userlog[index].location.latitude === '' && data.userlog[index].location.longitude ==='') { %>
                                        <td class="location"><button class="geo"><%=data.userlog[index].address%> </button></td>
                                    <% } else {%>
                                        <td>
                                            <a style="display: none;" href="#" class="target-index"></a>
                                            <button class="geo text-primary" id="geoaddress" onclick="showModal(this)"></button>
                                            <p  style="display: none;" id="latitude"><%=data.userlog[index].location.latitude%></p>
                                            <p  style="display: none;" id="longitude"><%=data.userlog[index].location.longitude%></p>
                                        </td>
                                    <% } %>
                                   
                                    
                                </tr>
                            <% } %>
                        <% } %>
                      
                       
                    </tbody>
                </table>
            
            </div>
          </div>
          
    
        </div>
      </main>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="/scripts/udash.js"></script>
    <script src="/scripts/udash2.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <!-- <script>
        const modal = document.querySelector('#trigger-modal')
        let mymap = L.map('map')
        const lat = document.querySelectorAll('#latitude') 
        const long = document.querySelectorAll('#longitude')
        const geoaddress = document.querySelectorAll('#geoaddress')
        let geolocation
        let tableObject = document.querySelector('.table-data')
        let marker
        const api_key = document.querySelector('.api_key')
        const target = document.querySelectorAll('.target-index')
        const latitude = document.querySelectorAll('.latz')
        const longitude = document.querySelectorAll('.longz')
        
        for(let i=0; i<lat.length; i++){
            console.log(lat[i].innerText)
            console.log(long[i].innerText)
        }
        
        for(let i=0; i<target.length; i++){
            target[i].innerHTML = tableObject.children[1].children[i].rowIndex
        }
        for(let i=0; i<target.length; i++){
            console.log(target[i].innerText)
        }
        const geocodeService = L.esri.Geocoding.geocodeService({
            apikey: api_key.innerText
        });
        for(let i =0; i<geoaddress.length; i++){
            geocodeService.reverse().latlng([lat[i].innerText,long[i].innerText]).run(function (error, result) {
            if (error) {
                return;
            }
            
            geolocation = result.address.Match_addr
            geoaddress[i].innerText = geolocation
                
        });
        }
        function showModal(element){
            modal.click()
            let y = (element.parentNode.parentNode.rowIndex)-1
            let index = tableObject.children[1].children[y].children[3].children[0].innerText
            
            console.log(`latitude: ${lat[index-1].innerText}`)
            console.log(`longitude: ${long[index-1].innerText}`)
        
            mymap.setView([lat[index-1].innerText, long[index-1].innerText], 20);
            mymap.on('move',()=>{
                mymap.invalidateSize()
            })
            if(typeof(marker)==='undefined'){
                marker = L.marker([lat[index-1].innerText, long[index-1].innerText]).addTo(mymap)
            }else{
                marker.setLatLng([lat[index-1].innerText, long[index-1].innerText])
            }
            const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
            const tiles = L.tileLayer(tileUrl,{attribution})
            tiles.addTo(mymap)
           
        }
 

    </script> -->
    <!-- <script>
       window.addEventListener("DOMContentLoaded",(e)=>{
           if(screen.width<478){
            $(document).ready(function() {
                $('#example').DataTable({
                    "scrollX":true
                });
            } );
           }
           else{
            $(document).ready(function() {
                $('#example').DataTable();
            } );
           }
       })
        window.onresize = resize
        
        if(screen.width)
        function resize(){
            if(screen.width<389){
                $(document).ready(function() {
                    $('#example').DataTable({
                        destroy: true,
                        "scrollX": true
                    });
                } );
            }
            else{
                $(document).ready(function() {
                    $('#example').DataTable({
                        destroy: true,
                        "scrollX": false
                    });
                } );
            }
        }
       
    </script> -->

</body>
</html>