<%- include('../partials/header') %> 
<title>Editing Profile</title>
<style>
    .image-container{
        height: 300px;
        width: 300px;
        background-color: red;
        border: 2px solid black;
    }
    .imagez{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
    }
    .left-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .m-content{
        margin-top: 10vh;
    }
    @media (max-width: 767px) {
        .m-content{
            margin-top: 0;
        }
    }
</style>
<link rel="stylesheet" href="/css/usersidebar.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
 <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
 <!-- Google Fonts Roboto -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
 <!-- MDB -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <!-- Collapse 1 -->
          <a class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            data-mdb-toggle="collapse"
            href="#collapseExample1"
            aria-expanded="true"
            aria-controls="collapseExample1">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <!-- Collapsed content -->
          <ul id="collapseExample1" class="collapse show list-group list-group-flush">
            <li class="list-group-item py-1">
              <a href="/client-dashboard" class="text-reset">User Logs</a>
            </li>
          </ul>
          <!-- Collapse 1 -->
  
          <!-- Collapse 2 -->
          <a
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
            data-mdb-toggle="collapse"
            href="#collapseExample2"
            aria-expanded="true"
            aria-controls="collapseExample2">
            
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Profile Settings</span>
          </a>
          <!-- Collapsed content -->
          <ul id="collapseExample2" class="collapse list-group list-group-flush">
            <li class="list-group-item py-2">
              <a href="/client-profile" class="text-reset">View Profile</a>
            </li>
            <li class="list-group-item py-2">
                <a href="#" class="text-reset">Edit Profile</a>
            </li>
            <li class="list-group-item py-2">
                <a href="/client-new-qr-code" class="text-reset">My QR Code</a>
            </li>
            
          </ul>
          <!-- Collapse 2 -->
        </div>
        
      </div>
     
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            CTT |
          <!-- <img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
            height="25"
            alt=""
            loading="lazy"
          /> -->
        </a>
      
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <!-- Notification dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell fa-2x"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="#">To do pani diri</a></li>
              <li><a class="dropdown-item" href="#">To do pani diri</a></li>
              <li>
                <a class="dropdown-item" href="#">Topi ngano bakat imoha</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="<%=user.image%>"
                class="rounded-circle"
                height="30"
                width="30"
                alt=""
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li><a class="dropdown-item" href="#"><%=user.firstName%> <%=user.lastName%> </a></li>
              <li><a class="dropdown-item" href="/client-profile">My profile</a></li>
              <li><a class="dropdown-item" href="/logoutU">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
   
    </nav>

  </header>
  <main style="margin-top: 58px;">
    <ol class="breadcrumb pt-4 px-3">
        <li class="breadcrumb-item"><a href="/client-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="#">Profile Settings</a></li>
        <li class="breadcrumb-item"><a href="/client-profile">User Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
   
    <hr style="margin-top: 5px;">
   
    
    <div class="container pt-4 m-content">
        
        <div class="card">
            <div class="card-header bg-dark text-white">
                Editing User Profile
            </div>
            <div class="card-body" style="border: 1px solid black;">
                <div class="container">
                  <form action="/client-profile/edit?_method=PATCH" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="left-content mt-5">
                                    <img src="<%=user.image%>" alt="user image" class="imagez img-fluid" onclick="changePic()">
                                    <input type="file" name="img" id="img" style="display: none;" class="form-control" accept="image/png, image/jpeg, image/gif,image/jpg">
                                    <a href="#" class="text-center mt-2" onclick="changePic()">Edit Picture</a>  
                                </div>
                                 
                            </div>
                            <div class="col-md-9">
                                <div class="right-content row">
                                    <div class="col-md-6">
                                        <label for="firstName" class="form-label mt-4">First Name</label>
                                        <input type="text" name="firstName" id="firstName" class="form-control" readonly value="<%=user.firstName%>">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lastName" class="form-label mt-4">Last Name</label>
                                        <input type="text" name="lastName" id="lastName" class="form-control" readonly value="<%=user.lastName%>">
                                    </div>
                                    <div class="col-md-12">
                                        <label for="username" class="form-label mt-3">Username</label>
                                        <input type="text" name="username" id="username" class="form-control" readonly value="<%=user.username%>">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="emailAddress" class="form-label mt-3">Email Address</label>
                                        <input type="email" name="emailAddress" id="emailAddress" class="form-control" value="<%=user.emailAddress%>" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="contactNumber" class="form-label mt-3">Contact Number</label>
                                        <input type="number" name="contactNumber" id="contactNumber" class="form-control" value="<%=user.contactNumber%>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label for="address" class="form-label mt-3">Home Address</label>
                                <input type="text" name="address" id="address" class="form-control" value="<%=user.address%>" required>
                            </div>
                            <div class="col-md-3">
                                <% if (messages.error) { %>
                                  <label for="opassword" class="form-label mt-3" style="color: red;">Incorrect Password</label>
                                <% } else { %>
                                  <label for="opassword" class="form-label mt-3">Old Password</label>
                                <% } %>
                                
                                <input type="password" name="opassword" id="opassword" class="form-control" placeholder="Old Password">
                            </div>
                            <div class="col-md-3">
                                <label for="password" class="form-label mt-3">New Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="New Password">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <hr class="mt-5">
                            </div>
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                              <button class="btn-danger btn">Submit Changes</button>
                                <!-- <a href="#" class="btn-danger btn">Submit Changes</a> -->
                            </div>
                           
                        </div>
          
                        
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
  
  </main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    function changePic(){
        document.querySelector('#img').click()
    }
    window.onresize = resize
    function resize(){
        if(screen.width<1165){
            if(screen.width>767){
                document.querySelector('.right-content').classList.add('ms-4')
            }
            else{
                document.querySelector('.right-content').classList.remove('ms-4')
            }
            
        }
        else if(screen.width>1164){
            document.querySelector('.right-content').classList.remove('ms-4')
        }
    }
    const image = document.querySelector('.imagez')
    $(function () {
        $("#img").change(function () {
            readURL(this);
        });
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //alert(e.target.result);
                $('.imagez').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    setInterval(()=>{
        // console.log(image.value);
        const password = document.querySelector('#opassword')
        if(password.value!==''){
          document.querySelector('#password').disabled = false
        }else{
          document.querySelector('#password').disabled = true
        }
    },1000)
</script>

</body>
</html>